@import 'base/_variables.sass'
@import 'blocks/_promo.sass'
@import 'blocks/_header.sass'
@import 'blocks/_buttons.sass'
@import 'blocks/_advantage.sass'
@import 'base/_media'
@import 'blocks/_consultation'
@import 'blocks/_titles'
@import 'blocks/_forms'
@import 'blocks/_carousel'
*
    font-family: 'MuseoModerno', cursive
.container
    max-width: 950px
    margin: 0 auto