.catalog
    padding-bottom: 100px
    &__tabs
        margin-top: 70px
        list-style-type: none
        display: flex
        justify-content: center
        margin-bottom: 0
        padding-left: 0
    &__tab
        width: 222px
        height: 52px
        border: 2px solid #d0d0d0
        color: #6B6B6B
        text-align: center
        font-size: 18px
        font-weight: 400
        text-transform: uppercase
        line-height: 48px
        transform: skewX(-25deg)
        margin: 0 5px
        cursor: pointer
        transition: 0.5s all
        &:hover
            box-shadow: 3px 3px 20px  #6B6B6B
            border: none
           
        div
            transform: skewX(25deg)
        &_active
            background-color: $main-color
            color: white
            border: none
    &__content
        margin-top: 60px
    &-item
        width: 300px
        min-height: 440px
        border: 2px solid #e8e8e8
        padding: 20px 20px 26px 20px
        &__img
            max-width: 100%
            height: 200px
            display: block
            margin: 0 auto
        &__subtitle
            color: #0D0D0D
            text-align: center
            font-size: 16px
            font-weight: 700
            margin-top: 20px
        &__descr
            margin-top: 16px
            color: #0D0D0D
            text-align: center
            font-size: 14px
            font-weight: 300
        &__link
            display: block
            margin: 0 auto
            margin-top: 17px
            color: $main-color
            text-align: center
            font-size: 14px
            font-weight: 500
            text-decoration-line: underline
        hr
            background-color: #e8e8e8
            margin-top: 18px
            border-bottom: none
        &__footer
            display: flex
            justify-content: space-between
            align-items: center
        &__old-price
            color: #555
            font-size: 14px
            font-weight: 300
            text-decoration: line-through
        &__price
            color: #050505
            font-size: 20px
            font-weight: 700




